/* body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

html,
body {
    height: 100%;
    margin: 0;
}

/* nav */
.navbar-brand {
    font-weight: bold;
}

/* containers */
.main-container {
    display: flex;
    flex: 1;
}

.first-container {
    flex: 1;
    overflow: auto;
    max-height: 550px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    max-width: 220px;
    background-color: #f0f0f0;
}

.second-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.message-container {
    flex: 1;
    overflow: auto;
    max-height: 450px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.input-container {
    display: flex;
}

.btn-container {
    display: flex;
}

.third-container {
    overflow: auto;
    width: 20%;
    background-color: #f0f0f0;
    padding-left: 10px;
}

.members-container {
    margin-top: 10px;
}

.group-option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* textarea */
textarea {
    resize: none;
    width: 100%;
    height: 40px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin-right: 10px;
    padding: 6px;
}

/* message */
.message {
    padding: 5px;
}

.message-name {
    font-weight: bold;
    font-size: 12px;
}

.message-text {
    background-color: #0d6efd;
    padding-left: 5px;
    padding-right: 5px;
    color: #f0f0f0;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* headings */
#welcome-heading {
    margin-bottom: 550px;
    font-size: 48px;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    color: #0d6efd;
}

span {
    font-size: 26px;
    color: #000000;
}

#opened-group-name {
    font-size: 24px;
    font-weight: bold;
    color: #0d6efd;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

/* buttons */
#logout-button {
    margin-left: 15px;
}

#attach-file-button {
    margin-right: 10px;
    font-weight: bold;
}

.btn-secondary {
    width: 90%;
    margin-bottom: 5px;
    margin-left: 5px;
}

.btn-danger.btn-sm,
.btn-success.btn-sm,
.btn-warning.btn-sm {
    width: 120px;
    margin-right: 10px;
}

#create-group-button {
    width: 40%;
}

/* error */
.error-message {
    margin-right: 10px;
}

/*form*/
.form-control {
    width: 70%;
}