/* body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

/* nav */
#logo {
    font-weight: bold;
}

/* main container */
.main-container {
    display: flex;
    flex: 1;
}

/* first container */
.first-container {
    flex: 1;
    overflow: auto;
    max-height: 550px;
    padding: 20px;
    max-width: 220px;
    background-color: #f0f0f0;
}

/* second container */
.second-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* message container */
#message-container {
    flex: 1;
    overflow: auto;
    max-height: 400px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

/* input container */
.input-container {
    display: flex;
}

/* group option button container */
.btn-container {
    display: flex;
    margin-right: 5px;
}

/* members container */
.members-container {
    overflow: auto;
    max-height: 550px;
    max-width: 250px;
    margin-right: 20px;
}

/* group option */
.group-option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* textarea */
textarea {
    resize: none;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 10px;
    padding: 6px;
}

/* message */
.message {
    padding: 10px;
}

.message-name {
    font-weight: bold;
    font-size: small;
}

.message-text {
    background-color: #0d6efd;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
}

/* headings */
.join-heading {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

.welcome-heading {
    margin-bottom: 550px;
    font-size: 48px;
    padding: 50px;
    background-color: #f0f0f0;
    border-radius: 20px;
    text-align: center;
}

.members-heading {
    font-weight: bold;
    margin-top: 30px;
}

#group-name {
    font-size: 24px;
    color: #0d6efd;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

/* buttons */
#logout-button {
    margin-left: 20px;
}

#media-send-button {
    margin-right: 10px;
    font-weight: bold;
}

.btn-secondary {
    width: 90%;
    margin-bottom: 10px;
    margin-left: 5px;
}

.btn-outline-secondary {
    margin-left: 20px;
}

/* search */
.search-form {
    display: flex;
}