/* body */
body {
    background-color: #f0f0f0;
}

/* containers */
.container {
    display: flex;
    max-width: 800px;
    height: 600px;
}

.left-container,
.right-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.left-container {
    background-color: #0d6efd;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-direction: column;
    text-align: left;
}

.right-container {
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* headings */
h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* form */
form {
    width: 80%;
}

.form-control {
    border-radius: 10px;
    padding: 10px;
}

.btn-primary {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

/* link */
a {
    color: #0d6efd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.link-container {
    text-align: center;
    margin-top: 20px;
}

/* error */
.error-message {
    font-size: 13px;
    margin-bottom: 10px;
}